---
layout: default
---


    {% for page in site.categories.main reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if page.icon %}
        <div class="subtlecircle sectiondivider imaged">
          <img src="{{page.icon}}" alt="section icon" />
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>
        {% elsif page.fa-icon %}
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>
        {% endif %}
        <div class="container {{ page.style }}">
          {{ page.content }}
          {% if page.title == "blog" %}
            <div class="row-fluid">
              <div class="span2" id="sidebar">
                <h2>Sidebar</h2>
                {% for post in site.categories.posts reversed %}
                <a href="#{{id}}" onclick="displayPost('{{post.title || slugify }}')">{{ post.date | date_to_string }}</a><br>
                  
                {% endfor %}
              </div>
              <div id="blog_main" class="span10">
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <script type="text/javascript">
      function displayPost(link) {
        var json_stuff = "";
        json_stuff = {{ site.categories.posts | jsonify }};
        for (var i = 0; i < json_stuff.length; i++) {
          if (json_stuff[i].search(link) + 1)
            var output = json_stuff[i];
        }
        document.getElementById("blog_main").innerHTML = output;
        
        //alert(typeof json_stuff);
      }
    </script>